<!DOCTYPE html>
<html>
<head>
<style>

body {
	background-color:red;
}

h1   {
	color:black;
	text-align:center;
	font-size:500%
	}
   
h2   {
	color:grey;
	text-align:center;
	font-size:400%
	}

</style>
</head>


