<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" 
	href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    {% block content %}
    	<h2>

    	Nikki | Phillip | Susie


    	</h2>
    {% endblock %}
</body>
</html>	