<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" 
	href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    {% block content %}
    
    	<h1>Welcome to Team ni Aling Nena!</h1>
    	<h2>Bawal ang utang!</h2>

    {% endblock %}
</body>
</html>	